* {
    box-sizing: border-box;
}

body{
    font: 13px/21px 'Open Sans', sans-serif;
    margin: auto;
    background-color: #eeeeee;
}

header{
    background: linear-gradient(#5e5e5e, #454444);
}

header li{
    display: block;
    float: left;
    width: 120px;
    height: 40px;
    border: 1px transparent solid;
    text-align: center;
    horiz-align: center;
}

header li:hover{
    background-color: #434343;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

header ul li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Open Sans", Arial;
    color: rgb(255, 255, 255);
    line-height: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

footer{
    background: #e1e1e1;
}

footer li{
    display: block;
    float: left;
    width: 120px;
    height: 40px;
    padding: 10px 25px;
}

footer li a{
    text-decoration: none;
    color: black;
}

nav li a{
    text-decoration: none;
    margin: 10px;
    color: #656363;
    horiz-align: center;
    padding: 10px;

}

nav li a:hover{
    color: #2c2c2c;
}

div p{
    font-size: 13px;
    font-family: "Open Sans", Arial;
    color: rgb(44, 44, 44);
    line-height: 1.6;
}

.mainBox{
    width: 1060px;
    margin: 0 auto;
    padding: 51px 47px 60px;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .3);
    background-color: white;
}

.logo{
    width: 140px;
    margin: 0 0 40px;
}

.nav_menu{
    display: block;
    float: left;
    margin-top: 40px;
    width: 240px;
}

.menu_Buttom{
    display: block;
    border: 1px solid gray;
    padding-top: 10px;
    width: 240px;
    height: 40px;
    color: #656363;
}

.menu_Buttom:hover{
    padding: 10px 30px;
    background-color: #f9f9f9;
}

.photo{
    width: 676px;
    padding: 50px;
    border: 1px solid gray;
    margin: 40px 0;
}

.text
{
    width: 626px;
    margin-left: auto;
    margin-bottom: 60px;
}

.fright{
    float: right;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

.border_collapse{
    border-top: transparent;
}

.TM{
    display: block;
    text-align: left;
    width: 200px;
    padding: 10px 10px;
}